
 <% if @publisher.errors.any? %>
    <div class="alert alert-danger text-center mt-2" role="alert">
    <% @publisher.errors.full_messages.each do |m| %>
        <div><%=m %> </div>
        <% end %>
    </div>
<% end %>
 
<% if flash[:notice] %>
<div class="alert alert-success text-center mt-2" role="alert">
  <%= flash[:notice] %>
</div>
<% end %>
<div class="container p-3 w-50 mt-3  rounded border border-info" style="background-color:white"> 
<div class="text-center font-bold">
    <h3>New Publisher</h3>
</div>
    <%=form_with model:@publisher,url:publishers_path do |f|%>
        <div class="form-group text-start">
            <%= f.label:name, class:"fw-bold"%>
            <%= f.text_field:name ,placeholder:"Insert Name",class:"form-control border border-info" %>
        </div>
        <br>
        <div class="form-group text-start">
            <%= f.label:adress,class:"fw-bold" %>
            <%= f.text_field:adress,placeholder:"Insert adress",class:"form-control border border-info" %>
        </div>
        <br>

        <div class="text-start">
            <%=f.label:photo,class:"fw-bold" %><br>
            <%=f.file_field:photo %>
        </div>
        <div class="text-center font-bold text-start">
            <h3>Platforms </h3>
        </div>
        <div>
        <%=f.submit "Add publisher",class:"btn btn-secondary mt-1"%>
        </div>
    <% end %>
</div>